:root {
    --pst-orange-50: #ffe1b8;
    --pst-orange-100: #ffd9a3;
    --pst-orange-200: #ffc87a;
    --pst-orange-300: #ffb752;
    --pst-orange-400: #ffa629;
    --pst-orange-500: #ff9500;
    --pst-orange-600: #c77400;
    --pst-orange-700: #8f5300;
    --pst-orange-800: #573300;
    --pst-orange-900: #1f1200;
}

html[data-theme="light"] {
    --pst-color-accent: var(--pst-orange-500);
    --pst-color-secondary: var(--pst-orange-500);
}

html[data-theme="dark"] {
    --pst-color-accent: var(--pst-orange-300);
    --pst-color-secondary: var(--pst-orange-300);
}

a, p,
a:hover, p:hover {
    text-decoration: unset !important;
}

figure {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.logo img {
    height: 2rem !important;
}

nav.bd-links .current>a,
.toc-entry a.nav-link.active,
.theme-switch-button span:hover,
.search-button:hover {
    box-shadow: unset !important;
}

.article-header-buttons {
    align-items: center;
}

.pst-navbar-icon:hover:before {
    border-bottom: none !important;
}

.pst-navbar-icon:hover, .bd-header-article .btn:hover {
    color: var(--pst-color-text-base) !important;
    text-decoration: none;
}

.bd-content img:not(.only-dark):not(.dark-light) {
    border-radius: unset !important;
}

footer.bd-footer-content {
    border-top-color: var(--pst-color-border);
}

.header-article__inner .header-article-items__end,
.header-article__inner .header-article-items__start {
    align-items: start;
    display: flex;
    gap: .5rem;
}
